{% extends 'base.html' %}

{% block head %}
<title>Star Creek Events</title>
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/about">About</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Add an Event</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="content">
  <h1>Star Creek Events</h1>
  <div class="event">
    <img class="img" src='../static/img/team.jpg' alt="team"/>
    <br/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus id interdum velit laoreet id donec ultrices. In iaculis nunc sed augue. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Ut aliquam purus sit amet. In massa tempor nec feugiat nisl pretium. Mattis aliquam faucibus purus in massa tempor nec feugiat. Ultrices gravida dictum fusce ut. Odio ut sem nulla pharetra diam sit amet. Cursus eget nunc scelerisque viverra mauris. Proin sagittis nisl rhoncus mattis rhoncus urna neque. Pellentesque id nibh tortor id aliquet lectus proin nibh. Consectetur adipiscing elit duis tristique sollicitudin nibh. Morbi leo urna molestie at.

    Velit ut tortor pretium viverra suspendisse. Ornare aenean euismod elementum nisi quis eleifend quam. In aliquam sem fringilla ut. In nulla posuere sollicitudin aliquam ultrices sagittis orci. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Tincidunt eget nullam non nisi est. Sociis natoque penatibus et magnis dis parturient montes nascetur. Quisque sagittis purus sit amet. Sagittis nisl rhoncus mattis rhoncus urna neque. Risus sed vulputate odio ut. In dictum non consectetur a erat nam at lectus urna. Nunc sed id semper risus in hendrerit gravida rutrum quisque. In hac habitasse platea dictumst quisque sagittis. Eget dolor morbi non arcu risus quis. Quam nulla porttitor massa id neque aliquam. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Ante metus dictum at tempor commodo. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Lobortis feugiat vivamus at augue eget arcu dictum. Nibh ipsum consequat nisl vel pretium.

    Ut tristique et egestas quis. Justo eget magna fermentum iaculis eu non. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Eu feugiat pretium nibh ipsum. Duis convallis convallis tellus id. Sed enim ut sem viverra aliquet eget sit amet tellus. Ac turpis egestas integer eget. Tellus integer feugiat scelerisque varius. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. In tellus integer feugiat scelerisque varius. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Sed turpis tincidunt id aliquet. Bibendum enim facilisis gravida neque convallis a cras semper. Nullam eget felis eget nunc lobortis mattis aliquam. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Nisl suscipit adipiscing bibendum est ultricies integer. Ut etiam sit amet nisl. Turpis nunc eget lorem dolor.</p>
  </div>
</div>

{% endblock %}