{% extends 'base.html' %}

{% block head %}
<title>Star Creek Events</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/about">About</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Add an Event</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<div class="content-details-page">
  <h1>Star Creek Events</h1>
  <div class="event-details">
      <img class="img" src={{ event.img }} alt="image"/>
      <h4>{{ event.title}}</h4>
      <div class="top-details">
        <p>{{ event.date}}</p>
        <p>${{ event.price}}.00</p>
      </div>
      <p>{{ event.description}}</p>
      <div>
        <a style="text-decoration:none; color:black;" href="/delete/{{event.id}}" class="a-button">Delete</a>
        <a style="text-decoration:none; color:black;" href="/update/{{event.id}}" class="a-button">Update</a>
      </div>
    </div>
</div>
{% endblock %}